:root {
  
  --mt-color-mock: #00FFFF;
  --mt-color-tail: #FF5900;
  
  --mt-color-1: #0B0C10;
  --mt-color-2: #1F2833;
  --mt-color-3: #C5C6C7;
  --mt-color-4: #66FCF1;
  --mt-color-5: #2F6E6C;
  
  --mt-main-font-family: Arial, sans-serif;
  --mt-main-font-size: 14px;
  
  --mt-main-text-color: var(--mt-color-1);
  --mt-color-background-canvas: var(--mt-color-3);

  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  color: var(--mt-main-text-color);
  background-color: var(--mt-color-background-canvas);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}
[data-theme="dark"] {
  --mt-color-background-canvas: var(--mt-color-2);  
  --mt-color-main-text: var(--mt-color-3);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: var(--mt-main-font-family);
  font-size: var(--mt-main-font-size);
  color: var(--mt-main-text-color);
  line-height: 1.5;
}

svg {
  fill: var(--mt-main-text-color);
}
svg:hover {
  fill: var(--mt-color-tail);
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

#root {
  height: 100vh;
  width: 100vw;
}
